* {
  font-family: 'Rokkitt', serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 725px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.left {
  background: #F0F3BD;
  box-shadow: 0 0 40px black;
  width: 50vw;
}

.lesson {
  color: #4B4C3B;
  font-size: 110%;
  padding: 5%;
  width: 90%;
}

/*.lesson h4 {
	font-size: 120%;
}
.lesson p {
	padding: 5px 0;
}
.lesson hr {
	margin: 10px 0;
}


form {
	border: 2px solid white;
	box-sizing: border-box;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin: 5%;
	margin-top: 0;
	padding: 10px;
	text-align: center;
	width: 90%;
}
label {
	font-size: 16px;
}
input {
	font-size: 16px;
	width: 50%;
}


.examples {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	width: 50vw;
}
.example {
	background: #aaa;
	border: 0px solid black;
	height: 200px;
	width: 200px;
	padding: 0px;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#example--one {
	box-sizing: content-box;
}
#example--two {
	box-sizing: border-box
}

@media (max-width: 600px) {
	body {
		flex-direction: column;
		height: auto;
	}
	.left {
		box-sizing: border-box;
		width: 100vw;
	}
	.examples {
		min-height: 80vh;
		height: auto;
		width: 100vw;
	}
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
